.accordion {
    width: 100%;
    padding: 15px;
    font-size: 1em;
    text-align: left;
    border: 0 none;
    background-color: aquamarine;
}

.panel {
    padding: 15px

    font-family: sans-serif;l
}